body {
  background-color: #03193E;
  overflow: hidden;
}

canvas {
  position: absolute;
}

p {
  margin: 1px;
}

.fa-question-circle {
  color: white;
}

.instructions .instructions-text {
  visibility: hidden;
  background-color: white;
  z-index: 1;
  position: absolute;
}

.instructions-text {
  color: black;
  width: 100%;
  position: absolute;
  bottom: 40px;
  right: 120px;
}

.instructions {
  color: white;
  width: 20%;
  height: auto;
  margin-left: 40%;
  position: absolute;
  bottom: 10px;
  right: -100px;
}

.instructions:hover .instructions-text {
  visibility: visible;
}

#visualiserCanvas {
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
  margin-left: -250px;
  transform: rotate(90deg);
}

#keyboardCanvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 15%;
  display: block;
  width: 800px;
  z-index: 3;
}
