* {
  margin: 0;
  padding: 0;
  font-style: Verdana, sans-serif;
}

body {
  background-color: #03193e;
  overflow: hidden;
}

.container {
  background-color: skyblue;
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
  border-radius: 15px;
}

#music-info-container {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-right: 30px;
  font-size: 15px;
  font-family: verdana;
}

.music-spacing {
  margin-right: 20px;
}

#visualiserCanvas {
  margin-top: 20px;
  z-index: -1;
  margin-left: -40%;
  transform: rotate(90deg);
  position: absolute;
}

#keyboardCanvas {
  display: block;
  width: 710px;
}

.fa-question-circle {
  color: white;
}

.instructions .instructions-text {
  visibility: hidden;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5;
}

.instructions-text {
  color: black;
  width: 90%;
  position: absolute;
  bottom: 40px;
  right: 120px;
}

.instructions {
  color: white;
  width: 20%;
  position: absolute;
  bottom: 50px;
  right: -110px;
}

.instructions:hover .instructions-text {
  visibility: visible;
}
