body {
  background-color: #03193e;
  overflow: hidden;
}

canvas {
  position: absolute;
}

p {
  margin: 1px;
}

.fa-question-circle {
  color: white;
}

.instructions .instructions-text {
  visibility: hidden;
  background-color: white;
}

.container {
  margin-top: 50px;
  max-width: 800px;
}

.music-spacing {
  margin-right: 10px;
}

#music-info {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 15px;
  font-family: verdana;
}

#visualiserCanvas {
  z-index: 1;
  position: absolute;
}

.instructions-text {
  font-style: verdana;
  color: black;
  width: 100%;
  position: absolute;
  bottom: 40px;
  right: 120px;
}

.instructions {
  color: white;
  width: 20%;
  height: auto;
  margin-left: 40%;
  position: absolute;
  bottom: 10px;
  right: -100px;
}

.instructions:hover .instructions-text {
  visibility: visible;
}

#visualiserCanvas {
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
  margin-left: -250px;
  transform: rotate(90deg);
  margin-top: 15%;
}

#keyboardCanvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 15%;
  display: block;
  width: 800px;
  z-index: 3;
}
